
.gitignore
myfirsttheme/wp-admin/
myfirsttheme/wp-includes/
myfirsttheme/wp-activate.php
myfirsttheme/wp-blog-header.php
myfirsttheme/wp-comments-post.php
myfirsttheme/wp-config-sample.php
myfirsttheme/wp-config.php
myfirsttheme/wp-cron.php
myfirsttheme/wp-links-opml.php
myfirsttheme/wp-load.php
myfirsttheme/wp-login.php
myfirsttheme/wp-mail.php
myfirsttheme/wp-settings.php
myfirsttheme/wp-signup.php
myfirsttheme/wp-trackback.php
myfirsttheme/xmlrpc.php
myfirsttheme/.htaccess
myfirsttheme/readme.html
myfirsttheme/wp-license.txt
myfirsttheme/wp-content/themes/firsttheme/node_modules/
myfirsttheme/wp-content/plugins/_themename-metaboxes/node_modules/
myfirsttheme/wp-content/plugins/_themename-shortcodes/node_modules/
firsttheme-master/
docs/
/index.php
myfirsttheme/wp-content/myfirsttheme/themes/twentynineteen/
myfirsttheme/wp-content/myfirsttheme/themes/twentyseventeen/
myfirsttheme/wp-content/myfirsttheme/themes/twentysixteen/
*.code-workspace
